<template name = "economia">
  <h1>Economica</h1>
  <dt>Agricultura e Pecuária</dt>
  <dd>A economia de Guaxupé é baseada na atividade agrícola. A cidade possui mais de 200 propriedades rurais, sendo que o café o principal produto de cultivo.

A produção do café foi, e é tão importante que, como conseqüência, Guaxupé conta com uma imensa Cooperativa de Cafeicultores (Cooxupé), considerada a maior do mundo devido a estrutura que possui para atender o setor. Além da Cooxupé, podemos destacar a Exportadora de Café Guaxupé , que exporta o produto para vários países.

Por tradição geográfica, Guaxupé engloba-se na área de criação de gado bovino leiteiro, entretanto, no município se desenvolve também a criação de rebanhos suínos, eqüinos e galináceos.</dd>
<dt>Comércio</dt>
<dd>O comércio é bastante ativo, devido a atração que exerce sobre as cidades vizinhas, o que lhe dá o “status” de cidade central da micro região. A atividade comercial é exercida por mais de 2.400 estabelecimentos comerciais, de todos os portes, os quais atendem a todos os setores da vida humana.</dd>
<dt>Indústria</dt>
<dd>Guaxupé conta com quatro indústrias de grande Porte: TextilNova Fiação Ltda.(Sucessora da KDB e Kanebo do Brasil); PEMG ;TECTER (eletro-magnéticos); Pasqua J.F. e Qualifio (indústrias de fios de cobre). Encontram-se instaladas também cerca de mais de 150 pequenas indústrias que atendem a vários setores, tais como: laticínios, doces, serralheria, pré-moldados de cimento, calçados de variados tipos (calçados de proteção individual - EPI , botinas e calçados femininos (este lidera o setor, com cerca de 97 estabelecimentos), munição, fios cirúrgicos, confecções, artesanatos diversos, cerâmica, móveis, torrefação de café etc. A Viação Nasser, da família de políticos Nasser, também é um exemplo de empresa guaxupeana. Na área de vestuário a cidade conta com uma ampla fabricas de lingeries, com um polo da moda que comercializa o produto para todo o país e para o exterior.</dd>
</template>
