<template name="empresa">
  <h2>História da Empresa</h2>

<dd>Entre os anos 1995 e 2000, o então estudante do curso de Engenharia Agronômica da UFLA (Universidade Federal de Lavras) de Minas Gerais e participante no Núcleo de Estudos em Cafeicultura (NECAF), Sérgio Isaac Joukhadar, acompanhava diversos trabalhos e pesquisas de café de qualidade em lavouras.</dd>

<dd>Nestas lavouras cafés 100% arábica gourmet eram produzidos porém não eram disponibilizados aos brasileiros, sendo na maioria das vezes exportados ou quando ofertados aos brasileiros o valor era muito alto.</dd>
<p>“Iniciamos um trabalho de “degustação de café 100% arábica Gourmet em supermercados, padarias e até na cantina na UFLA.</p>
<p>“Nos primeiros testes de divulgação de cafés de qualidade constatei que o brasileiro estranhava muito esses grãos de qualidade superior (café gourmet), chegando até a ter preferência por padrões inferiores. A partir daí meus professores indicaram que eu teria que trabalhar com a área de Gestão de Marketing e pesquisa de mercado, disseminando e demonstrando para o consumidor uma bebida superior com maiores nuances de sabor e aroma, o que foi estudado a partir de então”.</p>
<hr>
<dt>A conclusão do trabalho foi:</dt>
<dd>- Cerca de 90 % dos entrevistados perceberam o sabor e o aroma do café, embora não soubesse descrever atributos de qualidade;</dd>
<dd>- O brasileiro valoriza um café de qualidade e está disposto a pagar a mais por isto, porém se sente lesado quando a diferença de preço é exorbitante;</dd>
<dd>- O brasileiro é diferente um dos outros, porém não possui opções de sabores de café em uma mesma marca;</dd>
<dd>- Nós brasileiros temos muitas dúvidas sobre qualidade de café que nos dificultam em fazermos uma escolha mais adequada, por isso fizemos uma página em nosso site totalmente dedicada a sanar isso.</dd>
<dd>Com o propósito de selecionar produtos na lavoura com uma produção baseada nas melhores técnicas agronômicas nasce a Reserva Gourmet, ou seja, a seleção (Reserva) de produtos comprovadamente superiores (Gourmet) sendo um loja de café no atacado fornecendo produtos de alta qualidade (cafés especiais, gourmet) a preço justo.</dd>
<p>Nosso foco é café com qualidade Gourmet, segmentada em sabores e preço justo ao cliente.</p>
<hr>
<dt>VALORES</dt>
<dd><li>Flexibilidade;</li></dd>
<dd><li>Meritocracia;</li></dd>
<dd><li>Mais que alquimia, um produto se diferencia por ser produzido com as melhores técnicas e condições ambientais;</li></dd>
<dd><li>Comércio Justo;</li></dd>
<dd><li>Bem estar a todos que participam da cadeia de produção.</li></dd>
<hr>
<dt>MISSÃO</dt>
<dd>
Selecionar, reservar e levar aos consumidores alimentos superiores, de  qualidade, juntamente com a comunicação das técnicas de produção que levaram a obter esse padrão diferenciado.</dd>
<hr>
<dt>VISÃO</dt>
<dd>Ser uma empresa considerada de consultoria para o fornecimento de produtos alimentícios excepcionais a preços justos.</dd>
</template>
