<template name = "historia">
<h1>Histórico</h1>
<dd>A região do sudoeste de Minas Gerais, começou a ser povoada em meados do século XIX,
envolvendo o polígono em que se situa Guaxupé. Das regiões auríferas, fluíram correntes
migratórias, quando começou a rarear o ouro dos garimpos.
 Aqueles que se orientaram pelas margens do rio Grande, atingiram as terras de Guaxupé. A
história registra, como fundadores do Povoado, Francisco Ribeiro do Valle, Manoel Joaquim
Ribeiro do Valle, depois Barão de Dores de Guaxupé, Coronel Antônio Costa Monteiro e Paulo
Carneiro Bastos, doador do terreno para a fundação do lugarejo, que. em pouco tempo, recebeu
imigrantes italianos, sírios, portugueses e espanhóis.
 O topônimo tem origem no nome da abelha Guaxupé, do tupi gua-xu-pé, casta de abelha,
"que fez o ninho dentro da terra".
 Os primeiros posseiros fixaram-se a beira de um ribeirão, chamando-o de ribeirão Guaxupé,
devido a existência de abelhas no local.
 Em 1837, na fazenda Nova Floresta, Paulo Carneiro Bastos, fez a doação de uma gleba de
terra, para a construção da igreja de Nossa Senhora das Dores. Duas décadas depois, o arraial foi
elevado à categoria de Freguesia. </dd>

<h3>Catedral de Guaxupé</h3>
<dt>Origem</dt>
<dd>Em novembro de 1913, o bispo da Diocese de Pouso Alegre, dom Antônio de Assis, se decidiu por realizar uma mudança de sua residência episcopal da sede diocesana para Guaxupé. Após 3 anos de morada fixa de dom Assis na nova cidade, no dia 3 de fevereiro de 1916, por decreto do papa Bento XV e em conformidade com o pedido do bispo, é erigida a Diocese de Guaxupé, separando-se integralmente do território da Diocese de Pouso Alegre.</dd>
<dt>Percurso</dt>
<dd>Nomeado como primeiro bispo da diocese, dom Assis tomou posse em maio do mesmo ano, trabalhando ardorosamente pelo estabelecimento das instituições diocesanas, como o estabelecimento da Cúria Diocesana e a estruturação das paróquias. Pioneiro, regeu a diocese entre os anos de 1916 e 1919.</dd>
<dt>Atualidade</dt>
<dd>Com aproximadamente 900 mil habitantes, a Diocese de Guaxupé, situada no sul e sudoeste de Minas Gerais, compreende uma área de mais de 15 mil quilômetros quadrados. Para o adequado atendimento dos fiéis, a diocese possui 86 paróquias distribuídas em 41 municípios e 11 distritos, organizando-se por setores pastorais.</dd>
<dt>Celebração</dt>
<dd>Como inspiração do Centenário Diocesano, que se realizará no dia 3 de fevereiro de 2016, a Diocese de Guaxupé escolheu para as celebrações o seguinte lema: Lançando redes, gerando comunidades! Esta frase transparece o rosto missionário que a Diocese de Guaxupé se esforça em transmitir às comunidades pelo trabalho do bispo,padres, diáconos e fiéis engajados no trabalho pastoral.

 O símbolo escolhido para as comemorações, a Catedral de Guaxupé, exalta à unidade e à fé de todos os fiéis, clérigos e leigos, que são acolhidos com generosidade na Igreja Mãe de todas as comunidades.</dd>
</template>
