<template name ="home">

  <h1>Café, Sempre Café!</h1>
  <p><dt>Para acordar...</dt></p>
    <p><dt>Para relembrar...</dt></p>
      <p><dt>Para trabalhar...</dt></p>
        <p><dt>Para compartilhar...</dt></p>

<dt>O que é um café gourmet?</dt>
<dd>Gourmet é o nome que se dá a uma cozinha ou produto alimentar (incluindo bebidas) que estejam associados à idéia de haute cuisine ou alta cozinha, evocando assim um ideal cultural, associado com as artes culinárias. Assim um vinho ou um restaurante diz-se gourmet quando este é de alta qualidade e está reservado a paladares mais avançados e a experiências gastronômicas mais elaboradas. Por conseqüência os produtos e ou refeições gourmet são normalmente mais caras que os seus equivalentes não gourmet.

Assim chegamos a incrível conclusão que um Café Gourmet é um Café de maior qualidade.

Para que um café seja considerado um gourmet, não basta ele ser originário das regiões onde melhor se adapta a espécie denominada arábica, tampouco a utilização de suas variedades bourbon, vermelho ou amarelo.</dd>
<p>Quem gosta de tomar um cafezinho no dia a dia, mas não é um especialista, talvez não consiga identificar as características que diferenciam um exemplar ou uma marca de outra, como, por exemplo, o aroma, o corpo ou as cores do café, nem reconhecer as espessuras de moagem dos grãos. Mas um bom café gourmet já começa a se diferenciar dos outros desde a qualidade dos grãos que são usados em sua preparação. Você conhece o que seria um café gourmet?</p>
<hr>
<p><dt>UM CAFÉ COM QUALIDADE SUPERIOR</dt></p>
<dd>Enquanto o café normal pode apresentar uma mistura de vários grãos diferentes ou de menor nível de propriedades, o café gourmet é, geralmente, feito com o puro café arábica, o qual é considerado mais rico e apurado do que os demais. Quando este tipo de café passa por uma boa torra, com precisão de temperatura e tempo de exposição ao calor, resulta em um produto que vai produzir uma bebida com emanações mais intensas de aroma. Visto que as plantas de Coffea arábica prestam variantes de sabor (como bourbon, vermelho ou amarelo), o corpo e a acidez da bebida preparada também passam a apresentar variações interessantes.</dd>
<hr>
<p><dt>OS MELHORES TIPOS DE CAFÉ GOURMET</dt></p>
<dd>Existem vários fatores que comprovam que um café é especial, e um dos mais importantes é que os grãos sejam originários de regiões mais propícias para seu cultivo. Os melhores tipos de café arábica são cultivados na América Latina, sobretudo no Brasil e na Colômbia, em algumas áreas da África, Índia e Indonésia.

Além disso, são diferenciais relevantes como são feitos os manejos e cultivo, as condições climáticas de onde as plantas estão, os processos de colheita e lavagem, os métodos de secagem, entre outros inúmeros aspectos que fazem parte ainda do ambiente agrícola, ou seja, de muito antes de a bebida chegar à mesa de quem vai apreciá-la. Para produzir uma bebida premium, os grãos também precisam passar por uma criteriosa triagem, de modo que sejam evitados os defeitos que podem desqualificar os lotes de café: não devem ser encontrados paus, pedrinhas, pequenas cascas, conchas, torrões irregulares e outras espécies de vícios misturados ao produto.</dd>
<hr>
<dt>COMO PREPARAR UM BOM CAFÉ GOURMET</dt>
<dd>A despeito da alta qualidade do produto, não existe uma forma indicada como a mais correta para preparar a bebida. Assim, existem vários métodos para extrair um café de alta qualidade, de maneira que alguns vão acentuar mais ou menos algumas características da poção. Podem-se utilizar satisfatoriamente as cafeteiras de filtro ou coador, por exemplo, a Moka (cafeteira italiana), a prensa francesa ou a tradicional máquina de fazer expresso – que, de fato, é o jeito mais apropriado para conseguir uma bebida cremosa e cheia de nuances.</dd>
<dd>Estima-se que no Brasil o café gourmet represente algo em torno de 5% do consumo dos apreciadores da bebida, mas com grande potencial de crescimento. Ultimamente, a venda de cafés de alta qualidade tem aumentado de 10 a 15% ao ano, impulsionada não só pelos bons estabelecimentos especializados, mas também a partir da abertura de clubes de café.</dd>

</template>
