<template name = "producao">

  <h1>Produção de Café</h1>
  
<dt>Lucro</dt>
<dd>O consumo de cafés especiais – ou café gourmet – deve chegar a 16 mil toneladas e praticamente triplicar em cinco anos, até 2019, conforme uma pesquisa da Associação Brasileira da Indústria de Café (Abic). E isso somente no segmento de cápsulas, carro-chefe do setor. “Em 2016, o consumo total de café no Brasil foi de 21 milhões de sacas, com participação de 4% de cafés especiais. Até 2019, esse índice deve chegar a 6% e, em uma avaliação pessoal, alcançar 10% do consumo total nos próximos dez anos, somando as cápsulas e os pacotes de café em grão ou moído”, analisa o diretor-executivo da Abic, Nathan Herszkowicz.</dd>
<hr>
<dt>Indústria se articula</dt>
<dd>De olho nessa fatia de mercado, que em 2016, em plena crise, cresceu 15,7% com os cafés de cápsula, segundo a Abic, a café Utam, que tem fábricas em Ribeirão Preto (SP) e Piumhi (MG), fez um investimento de R$ 2 milhões em equipamentos e capacitação dos funcionários. “O investimento eleva a capacidade produtiva em 40%, passando para 420 toneladas mensais no segmento gourmet”, frisa a diretora-executiva, Ana Carolina Soares de Carvalho. “O Brasil hoje vive o que podemos chamar de quarta onda do consumo de café. Já passamos pela época do consumo massivo, das experiências fora de casa e com os cafés artesanais. Agora estamos na fase em que é necessário se diferenciar pela qualidade, que é o que nosso consumidor está buscando e está disposto a pagar um pouco mais por isto”, completa a diretora.</dd>
<hr>
<dt>Mercado</dt>
<dd> O café é um produto diferenciado no mercado e sua cotação cresce significativamente
conforme a melhoria de sua qualidade. Na atualidade, há uma maior exigência no mercado
consumidor por uma bebida pura e de qualidade superior, fazendo surgir uma nova linha de
produção diferenciada dos demais e com uso de embalagens requintadas. Com uma maior
seleção de grãos e novas tecnologias de beneficiamento, o café Gourmet é um produto de
qualidade e preço superior no mercado interno e externo.
 Segundo dados da Associação Brasileira da Indústria do Café (ABIC 2015), a produção de
café no Brasil corresponde à 1/3 da produção mundial, cerca de 22,5 milhões de sacas ao ano.
Deste total, aproximadamente 5% são destinados ao café Gourmet. Apesar da baixa
porcentagem de produção dessa especialidade, a procura por esse tipo cresce em média 15% a
20% ao ano, visto aos outros tipos de café que aumentam em média 3% ano.
 O objetivo para a realização desse trabalho está na análise das formas de agregação de
valor ao café como o Gourmet, e o uso de embalagens diferenciadas, que tem sua valorização
baseada no rigoroso processo de qualidade.</dd>
<hr>
<dt>Comercialização</dt>
<dd> A padronização e classificação sofrida pelo café gourmet até sua comercialização são
fatores que influenciam na agregação de preço ao produto final. Segundo dados da (ABIC -
2015), a cotação do preço do Gourmet tem aumentado cerca de 0,3%, alcançando a margem de
R$ 48,66.
 Com os dados de uma pesquisa de campo em supermercados do município de Campo
Mourão, foi obtido médias de preços do café gourmet de diferentes marcas, conforme o quadro
abaixo.</dd>
  <table border="2">
    <tr>
      <th>Marcas e Produto</th>
      <th>Preço/Kg</th>
    </tr>
    <tr>
      <td>Café Gourmet em Grão América </td>
      <td>R$42,50</td>
    </tr>
    <tr>
      <td>Café do Centro Gourmet</td>
      <td>R$49,90</td>
    </tr>
    <tr>
      <td>Café Pelé Solúvel Gourmet </td>
      <td>R$75,80</td>
    </tr>
    <tr>
      <td>Café Safra Especial moído</td>
      <td>R$81,90</td>
    </tr>
  </table>
  <hr>
  <p><dt>Considerações finais</dt></p>
  <dd> O café Gourmet passa por processos de produção minuciosos, tais como o plantio,
padronização, classificação, embalagens diferenciadas e comercialização. Esse sistema
diferenciado o torna com qualidade superior. Assim com o uso de embalagens requintadas
mostra a sua superioridade, tornando-o mais atrativo a seus consumidores.
 Em suma, é possível constatar que as etapas de produção citadas acima, são características
que agregam valor ao café Gourmet. Isso comprova o engajamento dado a este produto. </dd>

</template>
