<template name = "sobre">
<h1>Sobre</h1>
<p>Se você conhece a lenda de Kaldi, certamente sabe que o café da sua xícara passa por ele e por suas cabras.</p>
<p>Por causa da atenção àqueles frutinhos vermelhos, que cresciam em arbustos e deixavam as cabras excitadas, foi necessário um longo tempo que envolveu descobertas, experimentações, segredos comerciais e aventuras as mais diversas até que o café tomasse o mundo e se tornasse a bebida mais consumida em toda a história.</p>
<p>Ora, se o fruto do cafeeiro foi capaz de transformar o mundo, alterando hábitos alimentares, costumes, relações comerciais e negócios, ele é capaz também de transformar a sua vida!</p>
</template>
